{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category - {{ category.name }}</h1>

    {% if category.articles is defined %}
    <table class="table">
        <thead>
            <tr>
                <th>Article</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
           {% for article in category.articles %}
            <tr>
                <td><a href="{{ path('article_show', {'id': article.id}) }}">{{ article.name }}</a></td>
                <td>{{ article.user.fullName }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p>Currently there is no articles in this category</p>
    {% endif %}

    <a href="{{ path('category_index') }}" class="btn btn-light"><i class="fa fa-arrow-left"></i> Back to list</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-primary"><i class="far fa-edit"></i> Edit</a>

    <div class="float-right">
        {{ include('category/_delete_form.html.twig') }}
    </div>
{% endblock %}
