{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Author</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}

            <tr>
                <td>{{ article.name }}</td>
                <td><a href="{{ path('category_show', {'id': article.category.id}) }}">{{ article.category.name }}</a></td>
                <td>{{ article.user.fullName }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-outline-info btn-sm"><i class="far fa-eye"></i> Show</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-outline-primary btn-sm"><i class="far fa-edit"></i> Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}" class="btn btn-success"><i class="far fa-plus-square"></i> Create new</a>
{% endblock %}
